.body {
  //background-color: $bg-color;
  //border-top-left-radius: 40px;
  //border-top-right-radius: 40px;
  //position: relative;
  //z-index: 20;

  //padding-left: 40px;
  //padding-right: 40px;
}

.page-container {
  background-color: $bg-color;
  position: relative;
  min-height: 100vh;
  padding: 0;
}
