.devise {
   // Medium devices (tablets, 768px and up)
   @media (min-width: 768px) {
      width: 640px;
      margin-left: auto;
      margin-right: auto;
   }

  .devise-title .title {
    font-family: $title-font;
    font-weight: 600;
    font-size: 1.5rem;
    color: $gray;
    padding-left: 40px;
    padding-right: 40px;
  }

  .body {
    font-family: $body-font;
    font-size: 0.90rem;
    font-weight: 400;
    color: $gray;
    padding-left: 40px;
    padding-right: 40px;
  }

  .login {
    font-family: $body-font;
    font-size: 0.90rem;
    font-weight: 400;
    color: $gray;
    padding-left: 40px;
    padding-right: 40px;
  }

  .btn-vet {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: $body-font;
    font-weight: 400;
    font-size: 14px;
    background-color: $bg-dark;
    &:hover {
      background-color: #61687e;
    }
  }
}
