// Specific CSS for your home-page
.home-title .title {
  font-family: $title-font;
  font-weight: 600;
  font-size: 1.5rem;
  color: $gray;
  padding-left: 40px;
  padding-right: 40px;


  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    padding-left: 145px;
    padding-right: 145px;

  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    padding-left: 235px;
    padding-right: 235px;
  }

  // Extra Extra large devices (extra large desktops, 1400px and up)
  @media (min-width: 1400px) {
    padding-left: 325px;
    padding-right: 325px;
  }

}

.home-title .body {
  font-family: $body-font;
  font-size: 0.90rem;
  font-weight: 400;
  color: $gray;
  padding-left: 40px;
  padding-right: 40px;


  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    padding-left: 145px;
    padding-right: 145px;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    padding-left: 235px;
    padding-right: 235px;
  }

  // Extra Extra large devices (extra large desktops, 1400px and up)
  @media (min-width: 1400px) {
    padding-left: 325px;
    padding-right: 325px;
  }
}
