<footer>
  <div class="d-flex flex-column align-items-center py-4">

    <%= image_tag "vetraas-logo-sm-nobg-w.png", class:"img-footer" %>
    <p class="copyright mt-1">VetRAAS - Centro de Especialidades Veterinárias © 2024</p>

    <div class="d-flex justify-content-center">
        <a href="https://www.instagram.com/vetraas.especialidades/" target="_blank">
          <i class="fa-brands fa-instagram me-3"></i>
        </a>

        <a href="https://www.facebook.com/vetraas.especialidades/" target="_blank">
          <i class="fa-brands fa-facebook me-3"></i>
        </a>

        <a href="mailto:vetraas.especialidades@gmail.com">
          <i class="fa-regular fa-envelope"></i>
        </a>

    </div>

  </div>
</footer>
