<h1>Sua consulta</h1>
<p>A <strong>Vet RAAS</strong> agradece a preferência.</p>
<p>Você receberá uma <strong>confirmação</strong> da consulta no seu e-mail</p>

<p><i class="fa-solid fa-location-dot"></i> Rua Antônio Comparato, 148, São Paulo, Brazil 04605-030</p>

<p>Leia as informações abaixo para a consulta:</p>

<div class="d-flex">
  <i class="fa-solid fa-check"></i>
  <p>O cancelamento de consultas deve ser realizado com uma antecedência mínima de 24 horas.</p>
</div>

<div class="d-flex">
  <i class="fa-solid fa-check"></i>
  <p>Leve todos os exames recentes do seu animal.</p>
</div>

<div class="d-flex">
  <i class="fa-solid fa-check"></i>
  <p>Em caso de primeira consulta, pedimos para que chegue com antecedência de 15 minutos.</p>
</div>

<%= link_to 'Concluir', root_path, class: "btn btn-dark rounded-5"  %>
