footer {
  background-color: $bg-dark;
  color: $bg-color;

  .img-footer {
    width: 70px;

  }

  .copyright {
    font-family: $body-font;
    font-size: 10px;
  }

  i {
    font-size: 20px;
  }

  a {
    color: $bg-color;
    &:hover {
      color: $bg-dark-gray;
    }
  }
}
