.navbar-lewagon {
  justify-content: space-between;
  background: $bg-dark;

  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
    height: 220px;
  }

  // Small devices (phones, 540px and up)
  @media (min-width: 540px) {
    height: 220px;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    height: 220px;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    height: 280px;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    height: 280x;
  }

}

.navbar-lewagon .navbar-brand img {
  width: 180px;
   // Medium devices (tablets, 768px and up)
   @media (min-width: 768px) {
    width: 250px;
  }
}

.nav-info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  color: $light-gray;
  padding-left: 40px;
  padding-right: 40px;

   // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
 }

 h1 {
  font-family: $title-font;
  font-weight: 600;
  font-size: 22px; // Set the initial font size for smaller screens

  @media (min-width: 768px) {
    font-size: 36px; // Change the font size for screens with a minimum width of 768px
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  color: $light-gray;
 }

.navbar .title {
  font-family: $title-font;
  font-weight: 600;
  font-size: 22px; // Set the initial font size for smaller screens

  @media (min-width: 768px) {
    font-size: 36px; // Change the font size for screens with a minimum width of 768px
    text-align: center;
  }

  color: $light-gray;
}

.navbar .body {
  font-family: $body-font;
  font-weight: 300;
  font-size: 14px;

  @media (min-width: 768px) {
    font-size: 16px;
  }

  color: $light-gray;
}

//navbar admin
.nav-admin {
  font-family: $body-font;
  font-weight: 300;
  font-size: 0.90rem;
  color: $bg-dark;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;

  .navbar-brand img {
    width: 56px;
  }

  .logout {
    text-decoration: none;
    color: $bg-dark;
    font-family: $body-font;
    font-weight: 500;
  }
}
