.navbar-lewagon {
  justify-content: space-between;
  background: $bg-dark;

  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
    height: 220px;
  }

  // Small devices (phones, 540px and up)
  @media (min-width: 540px) {
    height: 220px;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    height: 220px;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    height: 300px;
  }

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 180px;
}

.nav-info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  color: $light-gray;
  padding-left: 40px;
  padding-right: 40px;
}

.navbar .title {
  font-family: $title-font;
  font-weight: 500;
  font-size: 22px; // Set the initial font size for smaller screens

  @media (min-width: 768px) {
    font-size: 36px; // Change the font size for screens with a minimum width of 768px
  }

  color: $light-gray;
}

.navbar .body {
  font-family: $body-font;
  font-weight: 300;
  font-size: 14px;

  @media (min-width: 768px) {
    font-size: 16px;
  }

  color: $light-gray;
}

//navbar admin
.nav-admin {
  font-family: $body-font;
  font-weight: 300;
  font-size: 0.90rem;
  color: $bg-dark;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;

  .navbar-brand img {
    width: 100px;
  }

  .logout {
    text-decoration: none;
    color: $bg-dark;
    font-family: $body-font;
    font-weight: 500;
  }
}
